* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.container {
    width: 100%;
    height: 100vh
}

/*header */
header {
    height: 200px;
    background-color: black
    
}
.headLogo {
    position: relative;
    width: 100%;
    height: 200px;
}
.black-fish-pit-logo {
    height: 100px;
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    
    margin: auto
}
/*nav bar that scrolls*/
nav {
    
    background-color: #fff;
    height: 75px;
    left: 0;
    overflow: hidden;
    position: fixed;
    
    width: 100%;
    z-index: 100
}





.white-logo {
    position: absolute;
    float: left;
    height: 70px;
    margin-left: 5em;
    padding-bottom:  10px
}
.navBar-index {
    
    /*text-align: center;*/
    width: 100%;
    list-style-type: none;
    position: absolute
}
 .routes {
    display: inline-block;
   color: black;
    padding: 10px 30px 10px 30px;
    float: right;
    text-transform: uppercase
    
}

/*Menu*/
.menu-box {
    
    position: relative;
    border: 75px solid black;
    width: 100%
}
.menu-header {
    text-align: center;
    height: 70px;
    padding-top: 15px;
    /*position: absolute;*/
    text-transform: uppercase;
    background-color: #2E88BD;
    font-weight: bold;
    border-bottom: 5px solid black;
    
}

.menu {
    background: #2E88BD;
    text-transform: uppercase;
}

.input-box {
    background-color: light-gray
}


/*About*/

.about {
    position: relative;
    margin-bottom: 40em
}

.Sushi-spot {
    /*position: absolute;*/
    text-align: center
}
.description {
    position: relative;
    width: 100%
}
.textbox1 {
    position: absolute;
    float: left;
    width: 25em;
    left: 10em;
    margin-right: 2em
    
}
.fresh-image1 {
    width: 400px;
    border-radius: 25%;
    height: 460px;
    padding-top: 1em
}
.textbox2 {
    position: absolute;
    float: right;
    width: 25em;
    right: 10em;
    
}
.zach-image {
    width: 400px;
    border-radius: 25%;
    height: 500px;
    padding-top: 4em
}

/*gallery*/
.gallery-index {
   
    width: 100%;
    top: 40em
}
.gallery-header {
    text-align: center
}
.pic {
    
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 0 auto;
   float: right
  
    
    
}