* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.container {
    width: 100%;
    height: 100vh;
    margin:auto
}

/*header .........................................................*/
header {
    height: 150px;
    background-color: black
    
}
.headLogo {
    position: relative;
    width: 100%;
    height: 150px;
}
.black-fish-pit-logo {
    height: 100px;
    position: absolute;
    top: 1em;
    left: 0;
    right: 1;
    
    margin-left: 3em
}

.top-contact{
    height: 100px;
    position: absolute;
    top: 1em;
    left: 1;
    right: 0;
    font-size: 20px;
    margin-right: 3em;
    color: #2E88BD;
    
}



/*nav bar that scrolls..............................................*/
nav {
    
    background-color: #fff;
    opacity: 0.9;
    height: 75px;
    left: 0;
    overflow: hidden;
    position: fixed;
    
    width: 100%;
    z-index: 100
}





.white-logo {
    position: absolute;
    float: left;
    height: 70px;
    margin-left: 5em;
    padding-bottom:  10px
}
.navBar-index {
    
    /*text-align: center;*/
    width: 100%;
    list-style-type: none;
    position: absolute
}
 .routes {
    display: inline-block;
   color: black;
    padding: 10px 30px 10px 30px;
    float: right;
    text-transform: uppercase
    
}


/*carousel...................................................*/
.carousel {
    width: 100%;
    height: 40em
}


/*Menu.......................................................*/
.menu-box {
    
    position: relative;
     
    width: 100%
}
.menu-header {
    text-align: center;
    height: 120px;
    padding-top: 5px;
    /*position: absolute;*/
    text-transform: uppercase;
    background-color: #2E88BD;
    font-weight: bold;
    border-bottom: 5px solid black;
    border-top: 5px solid black
    
}

.menu {
    background: #2E88BD;
    text-transform: uppercase;
}



.products {
    position: relative;
    margin-left: 3em
}

/*About*/
.about-me {
    position: relative;
    margin-bottom: 5em;
    height: 600px
}

/*.about {
    
}*/

.Sushi-spot {
    /*position: absolute;*/
    text-align: center
}
.description {
    position: relative;
    width: 100%
}
.textbox1 {
    position: absolute;
    float: left;
    width: 25em;
    left: 10em;
    margin-right: 2em
    
}
.fresh-image1 {
    width: 400px;
    border-radius: 25%;
    height: 460px;
    padding-top: 1em
}
.textbox2 {
    position: absolute;
    float: right;
    width: 25em;
    right: 10em;
    
}
.zach-image {
    width: 400px;
    border-radius: 25%;
    height: 500px;
    padding-top: 4em
}

/*gallery*/
.gallery-index {
    position: relative;
    width: 100%;
    height: 500px
}
.gallery {
    position: absolute;
    width: 100%;
    height: 500px
}
.gallery-header {
    text-align: center
}
.pic {
    
   
    width: 200px;
    height: 200px;
    margin: 0 auto;
   float: right
}
.contact-page {
    position: relative;
    height: 400px;
    background-color: black
}






/*calendar*/

.calendar-container {
    width:  80%;
    height: 800px;
    background-color: gray;
   opacity: 0.9;
    z-index: 1005;
    position: absolute;
    top: 13.4em;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto
}

.rButton {
    float: right
}



