<div>
    <nav class style="top: -75px;">
        <img src="http://i.imgur.com/phtaxeL.jpg" class="white-logo">
        <ul class="navBar-index">
            <li class="routes"><a ng-click="scrollTo('contact-us')">Contact</a></li>
            <li class="routes"><a ng-click="scrollTo('view-gallery')">Gallery</a></li>
            <li class="routes"><a ng-click="scrollTo('about-us')">About</a></li>
            <li class="routes"><a ng-click="scrollTo('our-menu')">Menu</a></li>
            <!--<li ui-sref='reservations' class="routes" >Reservations</li>-->
        </ul>



    </nav>





</div>